In [2]:
import pandas as pd 
import numpy as np

In [43]:
df=pd.read_csv("Rio.csv")
df.head(5)

,Unnamed: 0,source,name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,city scrape,Unbelievable Ocean View Apartment,2011-11-19,"Rio de Janeiro, Brazil",a few days or more,0%,0%,f,Vidigal,...,4.33,4.67,4.33,4.00,f,1,1,0,0,0.05
1,1,city scrape,EXCELENTE APARTAMENTO EM COPACABANA,2013-07-15,"Rio de Janeiro, Brazil",NaN,NaN,NaN,f,NaN,...,4.97,4.97,4.97,4.86,t,2,2,0,0,2.31
2,2,city scrape,Comfort em Copacabana,2011-11-20,"Rio de Janeiro, Brazil",within an hour,100%,100%,t,Copacabana,...,4.94,5.00,4.97,4.94,t,5,3,2,0,0.25
3,3,city scrape,Amazing Huge Apartment in Leblon,2011-04-25,"Rio de Janeiro, Brazil",NaN,NaN,NaN,f,Leblon,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
4,4,city scrape,Lindo quarto sossegado para temporada,2011-05-04,"Rio de Janeiro, Brazil",within a few hours,100%,20%,f,Santa Teresa,...,5.00,5.00,4.60,4.80,f,5,0,5,0,0.04

In [16]:
#Filtro 1 Los registros de los host cuyo "host_response_rate" sea mayor a 95% y que no sean "superhost"

# Quitar el signo de porcentaje y convertir a número
#df['host_response_rate'] = df['host_response_rate'].str.replace('%', '').astype(float)

filtro1=df[~(df["host_is_superhost"] == "t") & (df["host_response_rate"] > 95)]
filtro1

,Unnamed: 0,source,name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
4,4,city scrape,Lindo quarto sossegado para temporada,2011-05-04,"Rio de Janeiro, Brazil",within a few hours,100.0,20%,f,Santa Teresa,...,5.00,5.00,4.60,4.80,f,5,0,5,0,0.04
5,5,city scrape,Apto de 2 qtos com vista para Lagoa e garagem,2010-12-15,"Rio de Janeiro, Brazil",within an hour,100.0,100%,NaN,Ipanema,...,4.92,4.94,4.84,4.72,f,5,5,0,0,4.16
7,7,city scrape,Beautiful room for students,2011-05-04,"Rio de Janeiro, Brazil",within a few hours,100.0,20%,f,Santa Teresa,...,5.00,4.50,4.75,4.75,f,5,0,5,0,0.03
8,8,city scrape,Comfortable apart in Santa Teresa - Rio de Jan...,2011-11-22,"Rio de Janeiro, Brazil",within an hour,100.0,97%,f,Santa Teresa,...,4.96,4.98,4.90,4.83,f,1,1,0,0,0.40
10,10,city scrape,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",2010-01-08,"Rio de Janeiro, Brazil",within a few hours,100.0,95%,f,Copacabana,...,4.83,4.91,4.77,4.66,f,1,1,0,0,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39487,39487,city scrape,350 metros da praia de Ipanema,2021-06-25,NaN,within an hour,100.0,50%,f,Copacabana,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
39491,39491,city scrape,vista mar para o réveillon,2023-01-14,"Rio de Janeiro, Brazil",within an hour,100.0,90%,f,Copacabana,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
39494,39494,city scrape,Copa Reformado 1 qrt perto do metrô,2014-06-27,"Rio de Janeiro, Brazil",within an hour,100.0,99%,NaN,Copacabana,...,NaN,NaN,NaN,NaN,f,20,20,0,0,NaN
39496,39496,city scrape,Apartamento na Barata Ribeiro - Copacabana,2020-03-07,"State of Rio de Janeiro, Brazil",within an hour,100.0,100%,f,Copacabana,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
39497,39497,city scrape,No coração de Ipanema…,2016-04-14,"State of Rio de Janeiro, Brazil",within an hour,100.0,100%,f,Ipanema,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [18]:
#Filtro 2 Los registros cuyas propiedades no tengan 1 baño
filtro2=df[~(df["bathrooms"]==1)]
filtro2

,Unnamed: 0,source,name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
3,3,city scrape,Amazing Huge Apartment in Leblon,2011-04-25,"Rio de Janeiro, Brazil",NaN,NaN,NaN,f,Leblon,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
5,5,city scrape,Apto de 2 qtos com vista para Lagoa e garagem,2010-12-15,"Rio de Janeiro, Brazil",within an hour,100.0,100%,NaN,Ipanema,...,4.92,4.94,4.84,4.72,f,5,5,0,0,4.16
6,6,city scrape,Luxury Accommodation in Hip Leblon,2012-10-31,"Rio de Janeiro, Brazil",NaN,NaN,75%,f,Leblon,...,4.78,4.93,5.00,4.60,f,1,1,0,0,0.38
12,12,city scrape,COPACABANA SEA BREEZE - RIO - 25 X Superhost,2010-06-27,"Rio de Janeiro, Brazil",within an hour,100.0,98%,t,Copacabana,...,4.97,4.95,4.95,4.89,f,1,1,0,0,2.87
13,13,city scrape,Bright 6bed Penthouse Seconds from Beach,2010-01-16,"Rio de Janeiro, Brazil",within an hour,100.0,94%,t,Ipanema,...,4.84,4.84,4.95,4.59,t,6,5,1,0,1.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39488,39488,city scrape,Suíte para casal na natureza,2024-07-01,"Rio de Janeiro, Brazil",NaN,NaN,NaN,f,Guaratiba,...,NaN,NaN,NaN,NaN,f,2,0,2,0,NaN
39489,39489,city scrape,Apartamento completo ZS do Rio! Nos pés do Cri...,2017-06-13,"Rio de Janeiro, Brazil",within an hour,100.0,100%,t,Jardim Iris,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
39491,39491,city scrape,vista mar para o réveillon,2023-01-14,"Rio de Janeiro, Brazil",within an hour,100.0,90%,f,Copacabana,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
39494,39494,city scrape,Copa Reformado 1 qrt perto do metrô,2014-06-27,"Rio de Janeiro, Brazil",within an hour,100.0,99%,NaN,Copacabana,...,NaN,NaN,NaN,NaN,f,20,20,0,0,NaN
39497,39497,city scrape,No coração de Ipanema…,2016-04-14,"State of Rio de Janeiro, Brazil",within an hour,100.0,100%,f,Ipanema,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [47]:
#Filtro 3 Los registros que tengan un precio entre "$100 y $200 US" (Realizar conversión de moneda)
tipo_cambio=0.17 #USD A BRL

#Quitar signo de pesos y comas
#df['price'] = df['price'].str.replace('$', '')  
#df['price'] = df['price'].str.replace(',', '')   
# Convertir a número
df['price'] = df['price'].astype(float)



df['precio_usd'] = df['price'] * tipo_cambio
df["precio_usd"]

filtro3=df[(df["precio_usd"] >=  100) & (df["precio_usd"] <= 200)]
filtro3

,Unnamed: 0,source,name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,precio_usd
1,1,city scrape,EXCELENTE APARTAMENTO EM COPACABANA,2013-07-15,"Rio de Janeiro, Brazil",NaN,NaN,NaN,f,NaN,...,4.97,4.97,4.86,t,2,2,0,0,2.31,122.91
2,2,city scrape,Comfort em Copacabana,2011-11-20,"Rio de Janeiro, Brazil",within an hour,100%,100%,t,Copacabana,...,5.00,4.97,4.94,t,5,3,2,0,0.25,194.82
6,6,city scrape,Luxury Accommodation in Hip Leblon,2012-10-31,"Rio de Janeiro, Brazil",NaN,NaN,75%,f,Leblon,...,4.93,5.00,4.60,f,1,1,0,0,0.38,119.51
9,9,city scrape,"5 min a pé - Praia de Copacabana, Metrô, WiFi II",2011-03-18,"Rio de Janeiro, Brazil",within a few hours,100%,73%,t,Copacabana,...,5.00,4.46,4.82,f,7,7,0,0,0.37,129.03
11,11,city scrape,Beautiful Modern Decorated Studio in Copa,2010-04-03,"Rio de Janeiro, Brazil",within an hour,100%,84%,t,Copacabana,...,4.93,4.85,4.63,f,1,1,0,0,1.71,144.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39489,39489,city scrape,Apartamento completo ZS do Rio! Nos pés do Cri...,2017-06-13,"Rio de Janeiro, Brazil",within an hour,100%,100%,t,Jardim Iris,...,NaN,NaN,NaN,f,2,2,0,0,NaN,115.60
39493,39493,city scrape,Copaloft,2019-07-24,NaN,NaN,NaN,NaN,f,Copacabana,...,NaN,NaN,NaN,t,1,1,0,0,NaN,180.71
39494,39494,city scrape,Copa Reformado 1 qrt perto do metrô,2014-06-27,"Rio de Janeiro, Brazil",within an hour,100%,99%,NaN,Copacabana,...,NaN,NaN,NaN,f,20,20,0,0,NaN,162.69
39496,39496,city scrape,Apartamento na Barata Ribeiro - Copacabana,2020-03-07,"State of Rio de Janeiro, Brazil",within an hour,100%,100%,f,Copacabana,...,NaN,NaN,NaN,t,1,1,0,0,NaN,114.24
39497,39497,city scrape,No coração de Ipanema…,2016-04-14,"State of Rio de Janeiro, Brazil",within an hour,100%,100%,f,Ipanema,...,NaN,NaN,NaN,f,1,1,0,0,NaN,184.11

In [48]:
#Filtro 4 Los registros que sean "instant_bookable" y que hallan verificado su perfil "host_identity_verified"
filtro4=df[(df["instant_bookable"] ==  "t") & (df["host_identity_verified"] == "t")]
filtro4

,Unnamed: 0,source,name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,precio_usd
2,2,city scrape,Comfort em Copacabana,2011-11-20,"Rio de Janeiro, Brazil",within an hour,100%,100%,t,Copacabana,...,5.00,4.97,4.94,t,5,3,2,0,0.25,194.82
13,13,city scrape,Bright 6bed Penthouse Seconds from Beach,2010-01-16,"Rio de Janeiro, Brazil",within an hour,100%,94%,t,Ipanema,...,4.84,4.95,4.59,t,6,5,1,0,1.07,600.44
15,15,city scrape,Djalma Ocean View Studio with Amazing Views,2010-09-05,"Mesa, AZ",within an hour,94%,96%,t,Copacabana,...,4.94,4.90,4.75,t,11,11,0,0,1.20,98.60
26,26,city scrape,400 meters from Leme beach | Pi401,2011-11-07,"Rio de Janeiro, Brazil",within an hour,100%,98%,NaN,Copacabana,...,4.77,4.55,4.49,t,11,10,1,0,0.80,160.31
30,30,city scrape,Perfect Copacabana near Ipanema,2010-09-21,Brazil,within an hour,100%,97%,t,Copacabana,...,4.74,4.91,4.63,t,4,4,0,0,0.26,47.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39479,39479,city scrape,Flat decorado.,2022-08-07,NaN,within an hour,100%,81%,t,Engenho de Dentro,...,NaN,NaN,NaN,t,18,7,11,0,NaN,48.62
39482,39482,city scrape,Suíte aconchegante em Copa.,2017-10-15,"Rio de Janeiro, Brazil",within a few hours,80%,83%,f,Copacabana,...,NaN,NaN,NaN,t,4,3,1,0,NaN,103.53
39484,39484,city scrape,basic home minimalist,2020-07-02,NaN,NaN,NaN,NaN,f,Copacabana,...,NaN,NaN,NaN,t,1,1,0,0,NaN,106.59
39493,39493,city scrape,Copaloft,2019-07-24,NaN,NaN,NaN,NaN,f,Copacabana,...,NaN,NaN,NaN,t,1,1,0,0,NaN,180.71
39496,39496,city scrape,Apartamento na Barata Ribeiro - Copacabana,2020-03-07,"State of Rio de Janeiro, Brazil",within an hour,100%,100%,f,Copacabana,...,NaN,NaN,NaN,t,1,1,0,0,NaN,114.24

In [54]:
#Filtro 5 Los registros de los tipos de cuarto: "hotel room" o "Private room"
filtro5=df[(df["room_type"] == "Hotel room") | (df["room_type"] == "Private room")]
filtro5

,Unnamed: 0,source,name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,precio_usd
2,2,city scrape,Comfort em Copacabana,2011-11-20,"Rio de Janeiro, Brazil",within an hour,100%,100%,t,Copacabana,...,5.00,4.97,4.94,t,5,3,2,0,0.25,194.82
4,4,city scrape,Lindo quarto sossegado para temporada,2011-05-04,"Rio de Janeiro, Brazil",within a few hours,100%,20%,f,Santa Teresa,...,5.00,4.60,4.80,f,5,0,5,0,0.04,10.37
7,7,city scrape,Beautiful room for students,2011-05-04,"Rio de Janeiro, Brazil",within a few hours,100%,20%,f,Santa Teresa,...,4.50,4.75,4.75,f,5,0,5,0,0.03,10.03
19,19,city scrape,"Fascinating Rio, on the hills!",2011-04-09,"Rio de Janeiro, Brazil",within an hour,100%,84%,f,Botafogo,...,4.85,4.64,4.64,f,10,6,4,0,0.21,64.09
27,27,previous scrape,Xenia's Room Casa São Conrado,2012-04-17,"Rio de Janeiro, Brazil",within an hour,100%,100%,f,São Conrado,...,4.88,4.88,4.94,f,5,0,5,0,0.15,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39469,39469,city scrape,Quarto privado 50m Praia de Copa - espaçoso,2017-02-18,"Rio de Janeiro, Brazil",within an hour,100%,80%,f,Copacabana,...,NaN,NaN,NaN,f,1,0,1,0,NaN,65.62
39478,39478,city scrape,"Hotel Nacional, Rio de Janeiro",2017-07-31,"Jaboticabal, Brazil",NaN,NaN,NaN,f,São Conrado,...,NaN,NaN,NaN,t,1,0,1,0,NaN,51.00
39479,39479,city scrape,Flat decorado.,2022-08-07,NaN,within an hour,100%,81%,t,Engenho de Dentro,...,NaN,NaN,NaN,t,18,7,11,0,NaN,48.62
39482,39482,city scrape,Suíte aconchegante em Copa.,2017-10-15,"Rio de Janeiro, Brazil",within a few hours,80%,83%,f,Copacabana,...,NaN,NaN,NaN,t,4,3,1,0,NaN,103.53
39488,39488,city scrape,Suíte para casal na natureza,2024-07-01,"Rio de Janeiro, Brazil",NaN,NaN,NaN,f,Guaratiba,...,NaN,NaN,NaN,f,2,0,2,0,NaN,39.95

In [55]:
#Filtro 6 Los registros que tengan mas de 4 accommodates
filtro6=df[(df["accommodates"]>4)]
filtro6

,Unnamed: 0,source,name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,precio_usd
3,3,city scrape,Amazing Huge Apartment in Leblon,2011-04-25,"Rio de Janeiro, Brazil",NaN,NaN,NaN,f,Leblon,...,NaN,NaN,NaN,f,1,1,0,0,NaN,1146.14
5,5,city scrape,Apto de 2 qtos com vista para Lagoa e garagem,2010-12-15,"Rio de Janeiro, Brazil",within an hour,100%,100%,NaN,Ipanema,...,4.94,4.84,4.72,f,5,5,0,0,4.16,239.87
6,6,city scrape,Luxury Accommodation in Hip Leblon,2012-10-31,"Rio de Janeiro, Brazil",NaN,NaN,75%,f,Leblon,...,4.93,5.00,4.60,f,1,1,0,0,0.38,119.51
10,10,city scrape,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",2010-01-08,"Rio de Janeiro, Brazil",within a few hours,100%,95%,f,Copacabana,...,4.91,4.77,4.66,f,1,1,0,0,1.86,250.07
13,13,city scrape,Bright 6bed Penthouse Seconds from Beach,2010-01-16,"Rio de Janeiro, Brazil",within an hour,100%,94%,t,Ipanema,...,4.84,4.95,4.59,t,6,5,1,0,1.07,600.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39489,39489,city scrape,Apartamento completo ZS do Rio! Nos pés do Cri...,2017-06-13,"Rio de Janeiro, Brazil",within an hour,100%,100%,t,Jardim Iris,...,NaN,NaN,NaN,f,2,2,0,0,NaN,115.60
39491,39491,city scrape,vista mar para o réveillon,2023-01-14,"Rio de Janeiro, Brazil",within an hour,100%,90%,f,Copacabana,...,NaN,NaN,NaN,f,1,1,0,0,NaN,1275.00
39495,39495,city scrape,Casa Sabiá,2022-08-24,NaN,NaN,NaN,NaN,f,Cachambi,...,NaN,NaN,NaN,f,1,1,0,0,NaN,48.96
39496,39496,city scrape,Apartamento na Barata Ribeiro - Copacabana,2020-03-07,"State of Rio de Janeiro, Brazil",within an hour,100%,100%,f,Copacabana,...,NaN,NaN,NaN,t,1,1,0,0,NaN,114.24
39497,39497,city scrape,No coração de Ipanema…,2016-04-14,"State of Rio de Janeiro, Brazil",within an hour,100%,100%,f,Ipanema,...,NaN,NaN,NaN,f,1,1,0,0,NaN,184.11

In [56]:

filtro1.to_csv("Actividad2.2_filtro1.csv")
filtro2.to_csv("Actividad2.2_filtro2.csv")
filtro3.to_csv("Actividad2.2_filtro3.csv")
filtro4.to_csv("Actividad2.2_filtro4.csv")
filtro5.to_csv("Actividad2.2_filtro5.csv")
filtro6.to_csv("Actividad2.2_filtro6.csv")